@import url('https://fonts.googleapis.com/css?family=Roboto');

h1 {
    color: dodgerblue;
    font-size: 24px;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-left: 30%;
}

body {
    background: #fffef6;
}